[submodule "openstack-helm"]
	path = openstack-helm
	url = https://github.com/openstack/openstack-helm.git
    branch = master

[submodule "openstack-helm-infra"]
    path = openstack-helm-infra
    url = https://github.com/openstack/openstack-helm-infra.git
    branch = master

[submodule "openstack-exporter"]
    path = openstack-exporter
    url = https://github.com/openstack-exporter/helm-charts.git
    branch = master
[submodule "gardener-cert-management"]
	path = gardener-cert-management
	url = https://github.com/gardener/cert-management.git
[submodule "gardener-external-dns-management"]
	path = gardener-external-dns-management
	url = https://github.com/gardener/external-dns-management.git
[submodule "nodepool-labels-operator"]
	path = nodepool-labels-operator
	url = https://github.com/banzaicloud/nodepool-labels-operator.git
[submodule "gardener-extension-networking-cilium"]
	path = gardener-extension-networking-cilium
	url = https://github.com/gardener/gardener-extension-networking-cilium.git
[submodule "gardener-extension-networking-calico"]
	path = gardener-extension-networking-calico
	url = https://github.com/gardener/gardener-extension-networking-calico.git
[submodule "gardener-extension-provider-dns-cloudflare"]
	path = gardener-extension-provider-dns-cloudflare
	url = https://github.com/schrodit/gardener-extension-provider-dns-cloudflare.git
[submodule "gardener-extension-provider-openstack"]
	path = gardener-extension-provider-openstack
	url = https://github.com/gardener/gardener-extension-provider-openstack.git
[submodule "gardener-extension-os-gardenlinux"]
	path = gardener-extension-os-gardenlinux
	url = https://github.com/gardener/gardener-extension-os-gardenlinux.git
[submodule "gardener-extension-os-ubuntu"]
	path = gardener-extension-os-ubuntu
	url = https://github.com/gardener/gardener-extension-os-ubuntu.git
[submodule "c12n-os-helm"]
	path = c12n-os-helm
	url = git@github.com:MaximShepelev/openstack-helm.git
