[submodule "openstack-helm"]
	path = openstack-helm
	url = https://github.com/openstack/openstack-helm.git
    branch = master

[submodule "openstack-helm-infra"]
    path = openstack-helm-infra
    url = https://github.com/openstack/openstack-helm-infra.git
    branch = master

[submodule "openstack-exporter"]
    path = openstack-exporter
    url = https://github.com/openstack-exporter/helm-charts.git
    branch = master
[submodule "gardener-cert-management"]
	path = gardener-cert-management
	url = https://github.com/gardener/cert-management.git
[submodule "gardener-external-dns-management"]
	path = gardener-external-dns-management
	url = https://github.com/gardener/external-dns-management.git
[submodule "nodepool-labels-operator"]
	path = nodepool-labels-operator
	url = https://github.com/banzaicloud/nodepool-labels-operator.git
