[submodule "openstack-helm"]
	path = openstack-helm
	url = https://github.com/openstack/openstack-helm.git
    branch = master

[submodule "openstack-helm-infra"]
    path = openstack-helm-infra
    url = https://github.com/openstack/openstack-helm-infra.git
    branch = master

[submodule "openstack-exporter"]
    path = openstack-exporter
    url = https://github.com/openstack-exporter/helm-charts.git
    branch = master